<!DOCTYPE html>
<html ng-app="powerForm">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="dist/index.js"></script>
</head>
<body ng-controller="PowerFormController">

    <div ng-if="true || state === STATE_NOT_SENT">
        <div ng-repeat="element in CONFIG.elements">

            <!-- if the element is a separator -->
            <div ng-if="element.type === 'separator'">
                <hr>
            </div>

            <!-- if the element is a checkbox show this -->
            <div ng-if="element.type === 'checkbox'">
                <label>{{element.title}}</label>
                <input type="checkbox" title="{{element.title}}" ng-model="values[$index]">
            </div>

            <!-- same for a one line input -->
            <div ng-if="element.type === 'input'">
                <label>{{element.title}}</label>
                <input type="text" title="{{element.title}}" ng-model="values[$index]">
            </div>

            <!-- same for a date -->
            <div ng-if="element.type === 'date'">
                <label>{{element.title}}</label>
                <input type="date" title="{{element.title}}" ng-model="values[$index]">
            </div>

            <!-- same for a text area -->
            <div ng-if="element.type === 'textarea'">
                <textarea title="{{element.title}}" ng-model="values[$index]"></textarea>
            </div>

            <!-- select w/ options -->
            <div ng-if="element.type === 'select'">
                <select ng-model="values[$index]">
                    <option ng-repeat="option in element.options" value="{{$index}}">
                        {{option}}
                    </option>
                </select>
            </div>
        </div>

        <!-- display error if any -->
        <p style="color: red">{{error}}</p>

        <!-- submit button -->
        <button ng-click="send()">Submit</button>
    </div>

    <div ng-if="state === STATE_SENDING">
        <p>Sending...</p>
    </div>

    <div ng-if="state === STATE_SENT">
        <p>Sent!</p>
    </div>
</body>
</html>
